################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/FRPCClient/v16
/FRPCClient/bin/Debug/netstandard2.0
/FRPCClient/obj
/FRPCClientAOPContainer/bin/Debug/netstandard2.0
/FRPCClientAOPContainer/obj
/FRPCClientCommandConsole/bin/Debug/netstandard2.0
/FRPCClientCommandConsole/obj
/ITestServer/bin/Debug/netstandard2.0
/ITestServer/obj
/MessageClient/bin/Debug/netcoreapp3.1
/MessageClient/obj
/TestServer/bin/Debug/netstandard2.0
/TestServer/obj
